.container {
  width: 700px;
  margin: 0 auto;
  border: 5px solid black;
}
.heading1 {
  background-color: lightgray;
  padding: 5px;
  margin-top: 0;
  text-align: center;
}
.shoe {
  width: 40px;
  height: auto;
}
article {
  position: relative;
}
.price {
  font-size: 18px;
  margin-bottom: 2px;
}
li {
  line-height: 1.3;
}
a:link {
  color: black;
}
button {
  width: 100%;
  height: 35px;
  background-color: black;
  color: white;
  cursor: pointer;
}
h3 {
  margin-bottom: -10px;
  margin-top: 22px;
}
.shipping {
  opacity: 0.4;
}
button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  display: block;
}
li:last-child {
  margin: bottom 2px;
}
img {
  margin-top: 3px;
  display: inline;
  margin-top: -18px;
}
.cblock {
  width: 600px;
  height: 20px;
  /* margin-bottom: -5px; */
  padding: 4px 8px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.color1 {
  width: 30px;
  height: 20px;
  background-color: black;
  /* display: inline-block; */

  margin: 2px 4px;
}
.color2 {
  width: 30px;
  height: 20px;
  margin: 2px 3px;
  background-color: yellow;
  /* display: inline-block; */
}
.color3 {
  width: 30px;
  height: 20px;
  margin: 2px 3px;
  background-color: tan;
  /* display: inline-block; */
}
.color4 {
  width: 30px;
  height: 20px;
  margin: 2px 3px;
  background-color: green;
  /* display: inline-block; */
}
.color5 {
  width: 30px;
  height: 20px;
  margin: 2px 3px;
  background-color: wheat;
  /* display: inline-block; */
}
h2::after {
  content: "SALE";
  background-color: red;
  letter-spacing: 1px;
  position: absolute;
  width: 70px;
  height: 29px;
  top: -12px;
  left: -30px;
  padding: 0px 3px;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.sale {
  background-color: red;
  letter-spacing: 1px;
  position: absolute;
  width: 57px;
  height: 22px;
  top: -25px;
  left: -27px;
  padding: 0px 3px;
  color: white;
  border-radius: 5px;
  text-align: center;
}
