/* 
maincolor:#b197fc
tint color:#f3f0ff
icon color:#5f3dc4 
background-color:#e8e0fe*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
}
.header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2.5rem;
  margin: 0 auto;
}
.svgandtext {
  display: flex;
}
.icon {
  width: 2.3rem;
  height: 2.9rem;
  fill: #5f3dc4;
  fill: #b197fc;
}
.main-nav {
  display: flex;
  gap: 1.9rem;
  padding: 1rem 0.5rem;
  list-style: none;
  font-weight: 500;
  font-size: 1.8rem;
}
.nav-links {
  padding: 1rem 0.5rem;
}
.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: #adb5bd;
}
.nav-links:hover {
  border-radius: 0.9rem;
  background-color: #f3f0ff;
  color: black;
}
.download:link {
  background-color: #9f88e3;
  border-radius: 0.9rem;
  padding: 1rem 1.5rem;
  color: white;
}
#download {
  transition: all 0.3s;
  color: white;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.438);
}
#download:hover {
  background-color: #d0bfff;
  color: black;
  color: #868e96;
}

.container {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-text {
  align-self: center;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hero-image {
  justify-self: end;
  padding: 0 12rem;
}
.main-text {
  font-size: 4.7rem;
  font-weight: 900;
  color: #495057;
}
.main-image {
  max-width: 100%;
}
.notification {
  display: inline-block;
  color: #b197fc;
  font-size: 5.2rem;
  font-weight: 1000;
}
.description {
  color: #adb5bd;
  font-size: 1.2rem;
  line-height: 1.8;
}
.small {
  color: #b197fc;
  font-size: 2.2rem;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button-container {
  display: flex;
  gap: 3rem;
}
.main-btn {
  max-width: 30%;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #b197fc;
  font-size: 1.4rem;
  font-weight: 900;
  justify-self: flex-start;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1.1rem 0 rgba(0, 0, 0, 0.438);
  color: #495057;
  transition: all 0.8s;
  text-align: center;
  display: flex;
  gap: 0.2rem;
}
.main-btn:hover {
  color: white;
  stroke: white;
}
.right-arrow {
  font-weight: 900;
  height: 2rem;
  width: 4rem;
  stroke: #495057;
}
.right-arrow:hover {
  stroke: white;
}
.reviews-btn {
  max-width: 26%;
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: 900;
  justify-self: flex-start;
  border-radius: 1rem;
  background-color: #dee2e6;
  color: #868e96;
  transition: all 0.8s;
}
.reviews-btn:hover {
  color: #343a40;
}
.user-images-text {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
}
.user-image {
  border: 0.3rem solid white;
  max-width: 7%;
  border-radius: 100%;
  margin-left: -0.8rem;
}
.Active-users {
  padding-left: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #82c91e;
}
