/* 
maincolor:#b197fc
tint color:#f3f0ff
icon color:#5f3dc4 
background-color:#e8e0fe*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", serif;
}
.header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2.5rem;
  margin: 0 auto;
}
.icon {
  width: 4rem;
  height: 4rem;
  fill: #5f3dc4;
  fill: #b197fc;
}
.main-nav {
  display: flex;
  gap: 1.9rem;
  padding: 1rem 0.5rem;
  list-style: none;
  font-weight: 500;
  font-size: 1.8rem;
}
.nav-links {
  padding: 1rem 0.5rem;
}
.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: #adb5bd;
}
.nav-links:hover {
  border-radius: 0.9rem;
  background-color: #f3f0ff;
  color: black;
}
.download:link {
  background-color: #9f88e3;
  border-radius: 0.9rem;
  padding: 1rem 1.5rem;
  color: white;
}
#download {
  transition: all 0.3s;
  color: white;
}
#download:hover {
  background-color: #d0bfff;
  color: black;
}

.container {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-text {
  align-self: center;
  line-height: 1.5;
}
.hero-image {
  justify-self: end;
  padding: 0 12rem;
}
.main-text {
  font-size: 4.7rem;
  font-weight: 900;
  color: #495057;
}
.main-image {
  max-width: 100%;
}
.notification {
  display: inline-block;
  color: #b197fc;
  font-size: 5.2rem;
  font-weight: 1000;
}
.small {
  color: #b197fc;
  font-size: 2.2rem;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
