* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  padding: 2rem 2rem;
  margin-top: 5rem;
  border-radius: 2rem;
  border-radius: 2.9rem;
  background: white;
  box-shadow: 1.4rem 1.4rem 2.8rem rgba(0, 0, 0, 0.235),
    -1.4rem -1.4rem 2.8rem #ffffff;
  border-radius: 2.4rem;
}
.section-main {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.heading-primary {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  color: #9381ff;
  align-self: center;
}
.heading-secondary {
  font-size: 1.8rem;
  font-size: 2rem;
  color: #868e96;
  font-family: "Times New Roman", Times, serif;
}
.input-area {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border-radius: 1rem;
}
.generate-button {
  align-self: center;
  cursor: pointer;
  width: 99%;
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  background-color: #9381ff;
  color: white;
  border: 1rem solid #9381ff;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.381);
}
.image-container {
  padding: 3rem 3rem;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid black;
  border-radius: 1rem;
  cursor: pointer;
}
.image-container:hover {
  zoom: 125%;
}
img {
  max-width: 100%;
}

.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
  padding: 4rem 1rem;
}
.spinner {
  border: 0.4rem solid #f3f3f3; /* Light grey */
  border-top: 0.4rem solid #9381ff; /* Blue */
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 40em) {
  .container {
    padding: 2rem 1rem;
    margin-top: 9rem;
  }
  .heading-primary {
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
  }
  .heading-secondary {
    font-size: 1.6rem;
  }
  .section-main {
    /* width: 80vw; */
    gap: 1.2rem;
  }
}
