@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  font-family: "Roboto Slab", serif;
}
.container {
  padding: 2rem 2rem;
  margin-top: 5rem;
  border-radius: 2rem;
  border-radius: 2.9rem;
  box-shadow: 0.1rem 0.1rem 0.43rem 0.1rem rgba(0, 0, 0, 0.235);
  border-radius: 2.4rem;
  background-color: #f8f9fa;
}
.section-main {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.heading-primary {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  color: #9381ff;
  align-self: center;
}
.input-area {
  width: 100%;
  height: 4rem;
  font-size: 1.6rem;
  padding: 0 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #e9ecef;
  box-shadow: -0.01rem 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.164);
}
.input-area:focus {
  outline: none;
}
.generate-button {
  align-self: center;
  cursor: pointer;
  width: 99%;
  height: 6rem;
  border-radius: 1rem;
  font-size: 2rem;
  background-color: #9381ff;
  color: #f3f3f3;
  border: 1rem solid #9381ff;
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.381);
}
.generate-button:active,
.generate-button:hover {
  transform: scale(0.98);
}
.image-container {
  padding: 3rem 3rem;
  width: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid black;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #f8f9fa;
}

.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 2rem;
  height: 3rem;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-weight: 100;
  border: none;
  margin-left: 1rem;
  color: #f8f9fa;
  transition: all 0.3s;
  align-self: flex-start;
  background-image: linear-gradient(to right, #9e8eff 21%, #9381ff 100%);
}
.download-btn:hover {
  box-shadow: 0 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.381);
}
.download-btn:active {
  transform: scale(0.98);
}
.download-icon {
  height: 2.5rem;
  width: 2.5rem;
  color: #f8f9fa;
}
img {
  max-width: 100%;
}

.hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  display: none;
  padding: 4rem 1rem;
}
.spinner {
  border: 0.4rem solid #f3f3f3;
  border-top: 0.4rem solid #9381ff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
  align-self: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 40em) {
  .container {
    padding: 2rem 1rem;
    margin-top: 6rem;
  }
  .heading-primary {
    font-size: 3.2rem;
    margin-bottom: 0.5rem;
  }
  .heading-secondary {
    font-size: 1.6rem;
  }
  .section-main {
    gap: 1.2rem;
  }
  .image-container:hover {
    overflow: hidden;
  }
  .generate-button {
    height: 5rem;
  }
  .download-btn {
    margin-left: 0.2rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    height: 2.5rem;
    font-weight: 200;
  }
  .download-icon {
    height: 2rem;
    width: 2rem;
  }
}
@media (max-width: 35em) {
  .section-main {
    width: 80vw;
    align-items: center;
    justify-content: center;
  }
  .heading-primary {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  .section-main {
    gap: 2rem;
  }
  .heading-secondary {
    font-size: 1.6rem;
    align-self: flex-start;
  }
  .generate-button {
    height: 6rem;
  }
  .input-area {
    height: 6rem;
    font-size: 2rem;
  }
  .container {
    margin-top: 9rem;
  }
  .image-container:hover {
    overflow: hidden;
  }
}
